{
  "trailingComma": "all",
  "arrowParens": "avoid",
  "singleQuote": true,
  "jsxSingleQuote": true,
  "semi": false,
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "tailwindFunctions": [
    "cn"
  ]
}
